<!DOCTYPE html>
<html>

<head>
  <title>STARTERGATE.CDN</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>STARTERGATE.CDN</h1>
  <p>Welcome to STARTERGATE.CDN. STARTERGATE.CDN is Content Download Network for SID 2.0 and some other things.</p>
</body>

</html>
